<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech to Text</title>
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>

    <!-- Service Description Bar -->

    <div class="header">
      <div class="container">
        <!-- <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
          <img src="images/stt.svg" class="service-icon">
        </div>--><!-- .col-lg-2 --> 

        <div class="col-lg-10 col-md-10 col-xs-12">
          <h1>Text Typer</h1>
          <p> An editable audio transcriber built using <a href = "http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/speech-to-text.html">IBM Watson's Speech-to-Text</a> service. Fork on <a href="https://github.com/nalinimsingh/ATHack2016">Github! </a></p>
          </p>
        </div><!-- .col-lg-10 -->
      </div><!-- .container -->
    </div><!-- .header -->
    <!-- Step 1 Section-->
    <div class="container">
      <!-- Step 3 Section-->
      <!-- First column of inputs -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Transcribe Audio</h2>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="help-block" >You may choose to spot your keywords by entering them (separated by commas) in the text box. Use your microphone (compatible only with <a href="https://www.google.com/intl/en/chrome/browser/desktop/">Google Chrome</a> and <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>). Upload pre-recorded audio (WAV for uncompressed audio, FLAC or OPUS) file formats. Drag and drop recorded audio onto the page, or use the audio samples provided. The returned result includes the recognized text, word alternatives (aka confusion networks), and spotted keywords.</p>
          </div><!-- .col-lg-8 -->

        </div><!-- .col-lg-12 -->

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span id="dropdownMenuDefault" class="dropdown-text">US English broadband model (16KHz) </span>
                <span class="caret"></span>
              </button>
              <ul id="dropdownMenuList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              </ul>
            </div>
          </div><!-- .col-lg-6 -->
          <div style="float:left;margin-left:130px;">
            <input type="text" id="tb_keywords" value="Type comma separated keywords here (OPTIONAL)." style="font-style:italic;color:#A0A0A0;" autocomplete="off"/>
            <!--
              <div id="btnLoadKWS">
                <img src="images/upload-black.svg" class="icon"></img>
                Select Keywords
                <input type="file" style="display:none;">
                <span id="error-wrong-keywords-filetype">
                  <div>
                    Only *.txt files containing a list of keywords can be loaded
                    <a class="pull-right" href="#" id="errorWrongKeywordsFiletypeClose">&times;</a>
                  </div>
                </span>
              </div>	
            -->
          </div> 

        </div><!-- row -->

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->


        <div class="row">
          <nav class="navbar navbar-inverse">
          <ul class="navbar-text">
            <li id="recordButton" class="button-row nav-inverse-color">
            <img id="microphoneIcon" src="images/microphone.svg" class="icon">
            <span class="nav-label">Record Audio</span>
            </li>
          </ul>

          </nav>
        </div>
        <!-- Tab panes -->
        <div class="row" style="  margin: 0;">
          <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
            <div id="transcription_text" class="well">
              <form autocomplete="off" class="form-horizontal">
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="titles"><aria-controls="home" role="tab" data-toggle="tab">Text</a></li>
                    <li role="presentation" class="titles"><aria-controls="profile" role="tab" data-toggle="tab">Edited Text</a></li>
                  </ul>
                  <div class="hr-tab"></div>
                  <fieldset>
                    <div class="row error-row">
                      <div class="col-lg-12">
                        <div id="errorAlert" >
                          <span id="errorMessage"></span>
                          <a class="pull-right" href="#" id="errorClose">&times;</a>
                        </div>
                      </div>
                    </div>

                    <div class="row notification-row">
                      <div class="col-lg-12">
                        <div id="notificationAlert" >
                          <span id="notificationMessage"></span>
                          <a class="pull-right" href="#" id="notificationClose">&times;</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row tabpanel-row">
                      <div class="col-lg-12">
                        <div class="tab-content">
                          <section>
                            <div id="home2">
                              <textarea id="resultsText" dir="auto"></textarea>
                            </div>
                            <div id="editted">
                              <textarea id="edittedText"></textarea>
                            </div>
                          </section>
                        </div>
                      </div><!-- .col-lg-12 -->
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
            <div class="keywords_pane">
              <div class="keywords_title">Keywords Spotted</div>
              <div id="keywords">
                <ul style="margin-top:10px; margin-left:-40px;"></ul>
              </div>
            </div>  
          </div><!-- /.well -->
        </div><!-- /.tabpanel -->

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div style="padding:0;margin-top:1em;">
            <canvas id="canvas" width="960" height="368"/>
            </canvas>
            <div id="confusion-networks">
              <input id="vslider" type="range" orient="vertical"/>
            </div>
            <input id="hslider" type="range" style="display:none;"/>
          </div>

          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /.container -->

      <!-- for file upload dialog in toolbar -->
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="js/index.js"></script>
  </body>
</html>
